mixin bootstrapNavbar(navbarClass,iconClass,logo)

    .navbar.navbar-toggleable-md.navbar-light.bg-faded(class=navbarClass)
      button.navbar-toggler.navbar-toggler-right(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
        span(class=iconClass)
      a.navbar-brand(href="index.html")
        img.brand-logo(src=logo)

      .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="#") Home
                span.sr-only current
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link.disabled(href="#") Disabled



mixin navbarToggle(navClass,src,ulClass,icon)
    nav.zious-nav(class=navClass)
        a.zious-brand(href="#")
            img.zious-logo(src=src,alt="LOGO")
        a.zious-toggle-nav(href="#")
            i(class=icon)


mixin toggleNavMenu(navlist)
    ul.zious-vertical-nav
        each list in navlist
            li
                a(href="#")=list

mixin socialNavMenu(navlist)
    ul.zious-social-nav
        each list in navlist
            li
                a(href="#")
                    span.icon
                        i(class=list)
mixin socialNavMenu_2(navlist)
    ul.zious-vertical-nav
        each list in navlist
            li
                a(href="#")
                    span.middle-menu
                        span.icon
                            i(class=list.icon)
                        span.text=list.text