//- Directive to show process direction

mixin directive(wraperClass,directiveCLass,directiveTextClass,directiveText,title,para)
    .directive-widget(class=wraperClass)
        .directive-area(class=directiveCLass)
            .directive-text(class=directiveTextClass)=directiveText
        .content
            h5=title
            p=para

