mixin figure(figureClass,image)
    figure(class=figureClass)
        img.responsive-img(src=image)

<<<<<<< HEAD
mixin figure_100(figureClass,img_class,image)
    figure(class=figureClass)
        img(class=img_class,src=image)
=======
mixin figure_2(figureClass,image)
    figure(class=figureClass)
        img.responsive-img(src=image)
        img.responsive-img(src=image)
        img.responsive-img(src=image)
        img.responsive-img(src=image)
        img.responsive-img(src=image)
>>>>>>> dev-bipresh
