include title-modules.pug
include social-menu.pug
mixin squad_cart(group_cart,figClass,imgFormat,titleTag,title,paragraph,menuList,menu)
    div(class=group_cart)
        if imgFormat
            +figure(figClass,imgFormat)
        if title
            +title(titleTag,title)
        if paragraph
            +paragraph(paragraph)
        if menu
            +socialMenu(menuList,menu)



mixin figure(figClass,imgFormat)
    figure(class=figClass)
        if imgFormat
            img(src=imgFormat)

mixin paragraph(paragraph)
    if paragraph
        each paras in paragraph
            p=paras

mixin headingSection(titleTag,title,paragraph,horizone)
        if title
            +title(titleTag,title)
        if paragraph
            +paragraph(paragraph)
        if horizone
            hr(class=horizone)

