mixin title(titleTag,title)
    if(titleTag==1)
        h1=title
    if(titleTag==2)
        h2=title
    if(titleTag==3)
        h3=title
    if(titleTag==4)
        h4=title
    if(titleTag==5)
        h5=title
    if(titleTag==6)
        h6=title


